* {
  box-sizing: border-box; 

}

:root {
  --accent-1: rgb(220, 100, 220);
  --accent-2: rgb(194, 0, 201);
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
}

/* @font-face {
  font-family: 'Inter Right';
  font-style: normal;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSwv5HMAFg6IuGlBNMjxLsH8ag.woff2) format('woff2');
} */

@font-face {
  font-family: 'Baloo';
  font-style: normal;
  src: url(https://fonts.gstatic.com/s/baloo2/v21/wXKrE3kTposypRyd51jcAA.woff2) format('woff2');
}

@keyframes RGB {
  0% {background-color: red;}
  50% {background-color: rgb(0, 255, 0);}
  100% {background-color: blue;}

}

@keyframes Rainbow {
  15% {background-color: red;}
  30% {background-color: orange;}
  44% {background-color: rgb(230, 230, 0);}
  58% {background-color: green;}
  72% {background-color: blue;}
  86% {background-color: indigo;}
  100% {background-color: purple;}

}

@keyframes Bounce {
  0% {translate: 0px 0px;}
  100% {translate: 0px 15px;}
}


@keyframes FadeIn { 
  from {translate: 0px 50px; opacity: 0;} 
  to {translate: 0px 0px; opacity: 1;}
}

@keyframes FadeIn_rev {
  from {translate: 0px -50px; opacity: 0;} 
  to {translate: 0px 0px; opacity: 1;}
}

@keyframes gradientM {
  0%{background-position:0% 20%}
  50%{background-position:100% 100%}
  100%{background-position:0% 20%}
}

button {
  color: rgb(255, 255, 255);
  background-color: var(--accent-1);
  padding: 12px 15px;
  text-align: center;
  font-family: arial;
  display: inline-block;
  border: none;
  border-radius: 6px;
  transition-property: width, background-color;
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.79, 0.01, 0.24, 1);
  box-sizing: border-box;
  width: 12rem;

}

button:hover {
  background-color: var(--accent-2);
  border: none;
  width: 16rem;
  cursor: pointer;
  
}


a:link {
  color: --var(--accent-1);
}

.link-button {
  color: rgb(255, 255, 255) !important;
  background-color: var(--accent-1);
  transition-duration: 0.7s;
  display: inline-block;
  border: none;
  border-radius: 6px;
  transition-timing-function: cubic-bezier(0.79, 0.01, 0.24, 1);
  padding: 12px 15px;
  text-align: center;
  width: 16rem;
  text-decoration: none;
  transition-property: all;

 }

.link-button:hover {
  background-color: var(--accent-2);
  width: 20rem;
  cursor: pointer;
  
}


html {
  scroll-behavior: smooth;
  background-color: transparent !important;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(https://ftn.s-ul.eu/U5C1wTyA);
  
}

body {
  z-index: -2;
  background-color: transparent !important;
}

.body {
  display: grid;
  text-align: center;
  align-items: start;
  align-content: space-between;
  background-color: rgba(0,0,0,0.5) !important;
  border-radius: 20px;
  margin: 2% 3%;
  padding: 16px;
  min-height: calc(47em - 180px);
  backdrop-filter: blur(12px);
  animation: FadeIn .8s;

}

.mainbody {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.altbody {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}

/* .np {
  display: flex;
  border-radius: 8px;
  border: solid rgb(130, 78, 165) 4px;
  background: rgba(145, 145, 145, 0.2);
  padding: 16px;
  
} */

.np {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background: rgba(145, 145, 145, 0.2);
  border-radius: 8px;
}

.gradient-border {
  border: none;
  position: relative;
}

.gradient-border::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 4px;
  border-radius: 8px;
  background: linear-gradient(135deg, rgb(226, 143, 247) 10%, rgb(189, 72, 183) 80%),
              linear-gradient(0deg, #FFFFFF, #FFFFFF);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, 
                linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -999;
}

.gradient-border-animated::after {
  background: linear-gradient(135deg, rgb(0, 228, 247) 10%, rgb(189, 72, 183) 80%),
              linear-gradient(0deg, #FFFFFF, #FFFFFF);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, 
                linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
  mask-composite: exclude;
  background-size: 300% 300%;
  animation: gradientM 2s infinite;
}

.bio {
  display: flex;
  /* border: solid rgb(130, 78, 165) 4px; */
  border-radius: 8px;
  background: rgba(156, 156, 156, 0.2);
  padding: 16px;
  max-width: 50%;
}

.quicklinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  gap: 12px;
  justify-content: center;
  align-self: flex-end;
}

.quicklinks p {
  font-size: small;
}
.quicklinks a {
  transition: 0.3s;
  filter: brightness(1);
  transition: all 0.3s;
  /* transition: all 0.5s cubic-bezier(0.75, 0.04, 0.24, 0.98) 0.05s; */
}

.quicklinks a:hover {
  filter: brightness(1.4);
  transition: all 0.3s;
  transform: scale(1.15);
  /* transition: all 0.5s cubic-bezier(0.75, 0.04, 0.24, 0.98) 0.05s; */
  /* transform: scale(1.15) rotate(360deg); */
}

.quicklinkimg {
  display: flex;
  justify-content: center;
  height: 25px;
  width: 25px;
  transition: all 0.3s;
}

.quicklinks a[href*="github.com"] .quicklinkimg {
  filter: contrast(0.5);
}

.quicklinks:has(.quicklinkimg:hover)  a[href*="github.com"] .quicklinkimg:not(:hover) {
  filter: contrast(0.25) !important;
}

.quicklinks:has(.quicklinkimg:hover) .quicklinkimg:not(:hover) {
  filter: grayscale(1) contrast(.8);
  transform: scale(0.85);

}


.h-divide {
  background: white;
  width: 20px;
  height: 3px;
  border-radius: 2px;
}

::selection {
  background: rgb(247, 112, 215, 0.3);
  
}

table {
  color: #ffffff;
  font-family: arial;
  
}

td {
  text-align: center;

}

p, h1, h2, h3, h4, h5, h6, ul, li, a {
  color: rgb(255, 255, 255);
  font-family: "Poppins";
  font-style: normal;
}

h1 {
  margin-bottom: 2px;
}

.alt-ul {
  padding-left: 4px;
  font-size: 24px;
  font-weight: bold;
}

.alt-ul::before {
  content: "\27A4   ";

}

.about-h2 {
  align-self: flex-start; 
  padding-left: 12px;
  margin-bottom: 2px;
}

.about-text {
  text-align: left; 
  padding-left: 24px; 
  align-self: flex-start;
}

.blank {
  margin-top: 50px;
  margin-bottom: 50px;
  
}

.Disabled {
  cursor: not-allowed;
  opacity: 0.5;

}

.Disabled:hover {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: rgb(247, 111, 252);
  border-radius: 4px;
  
}

.RGBButton {
  background-color: red;
  animation-name: RGB;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
}

.RainbowButton {
  background-color: red;
  animation-name: Rainbow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

.RGBButton:hover {
  cursor: default;

}

.RainbowButton:hover {
  cursor: default;
  
}

#pepe {
  padding: 0px;
  background-color: transparent;

}

#scrlUp {
  display: block;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 5;
  bottom: 20px;
  right: 20px;
  position: fixed;
  border-radius: 4px;
  cursor: pointer;
  width: 35px;
  transition-duration: 0.5s;
  transition-property: all;
}


#scrlUp:hover {
  background-color: rgba(255, 138, 239, 0.5);
  transition-duration: 0.5s;
}

#scrlUp.visible {
  opacity: 1;
}

#arrow-down {
  animation: Bounce 1.5s cubic-bezier(0.12, 0.13, 0.99, -0.38) 0s infinite alternate;
}

#BGOverlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  width: 100%;
  backdrop-filter: blur(6px);
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.short {
  width: 100px;
  transition-duration: 0.9s;
  transition-timing-function: ease;
  transition-property: all;
  
}

.short:hover {
  width: 150px;
  background-color: var(--accent-1);
  transition-duration: 0.5s;

}

.NavBar-wrap {
  box-sizing: unset !important;
  width: 100%;
  justify-content: space-between;
  max-width: 100%;
  height: 40px;
  display: flex;
  position: sticky;
  z-index: 3;
}

.NavBar-wrap > div {
  animation: FadeIn_rev 0.8s;

}


.NavBar-title {
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(4px);
  position: fixed;
  height: fit-content;
  border-radius: 12px;
  z-index: 3;
}

.NavBar-pages {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(4px);
  position: fixed;
  right: 10px;
  border-radius: 12px;
  height: fit-content;
  z-index: 3;
}

.NavBar-wrap button {
  border-radius: 12px;
  width: initial;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: ease;
  background-color: transparent;
}

.NavBar-wrap button:hover, .DDButton:hover {
  color: rgb(255, 255, 255);
  transition-duration: 0.4s;
  transition-property: all;
  background-color: rgba(248, 54, 255, .5);

}

.NavBar-wrap button.active {
  background-color: rgb(194, 0, 201);
  color: rgb(252, 178, 255);
  text-decoration: none;
  cursor: default;
  
}

.NavBar-pages a {
  color: rgb(255, 255, 255);
  padding: 12px 15px;
  text-align: center;
  font-family: arial;
  display: inline-block;
  border-radius: 6px;
  transition-duration: 0.4s;

}

.NavBar-pages a:hover {
  background-color: rgba(248, 64, 255, 0.5);
  border-radius: 10px;
  transition-duration: 0.4s;
}

.active {
  background-color: rgb(194, 0, 201);
  text-decoration: none;
  cursor: default;
  font-family: arial;
}

.DD {
  position: relative;
  display: inline-block;
  border-radius: 12px;
}

.DDButton {
  border-radius: 0px;
  width: auto;
  padding: 12px 15px;
  text-align: center;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: ease;
  z-index: inherit;


}

.DDButton:hover {
  border-radius: 0px;
  width: auto;
  transition-duration: 0.4s;
  background-color: rgba(248, 54, 255, .5);

}

.DDButton:active {
  background-color: rgb(194, 0, 201);
}

.DDContent {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  display: none;
  margin-left: -3px;
  width: 150px;
  transition: opacity 0.4s;
  border-radius: 12px;
  
}

.DDContent a {
  float: none;
  display: block;
  border-radius: 12px;
  padding: 12px 15px;
  width: 150px;
  z-index: 4;
  min-width: 70px;
  text-decoration: none;
  
}

.DDContent a.active {
  background-color: rgb(194, 0, 201);
  text-align: center;
  text-decoration: none;
  color: rgb(42, 49, 68);
}

.FRight {
  float: right;
  
}

.Note {
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  padding: 15px 25px;

}

.CloseButton {
  color: white;
  float: left;
  margin-left: -10px;
  margin-top: -8px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px; 
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-property: all;

}

.CloseButton:hover {
  color: red;

}

.altern-title {
  text-align: left; 
  padding: 0px 8px; 
  align-self: flex-start;
}

.cards-container {
  display: flex;
  gap: 1%;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
}

.card {
  display: flex;
  border: solid 4px;
  border-color: rgb(174, 117, 211);
  border-radius: 8px;
  background: rgba(156, 156, 156, 0.1);
  min-width: 22vw;
  flex-basis: min-content;
  flex-grow: 1;
  margin-bottom: 1em;
  justify-content: center;
  transition: all 0.3s;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(130px);
  width: 100%;
}

.card-image img {
  -webkit-mask: linear-gradient(to bottom, #000, transparent 93%);
  mask: linear-gradient(to bottom, #000, transparent 93%);
}


.card-desc {
  min-height: 8em;
  font-size: 12px;
  padding: 0px 8px;
}

.card-platforms {
  align-self: center;

}

.card-platforms img {
  height: 25px !important;
  width: 25px !important;
  object-fit: contain !important;
  margin: 0px 4px;

}
.card-title h2 {
  margin: 0px
}

.card-title h2 img {
  object-fit: contain; 
  height: 35px; 
  width: 35px; 
  vertical-align: -10px;
}

.card-content img {
  height: 15em;
  object-fit: cover;
  width: 100%;
}

.card-content div.quicklinks p {
  position: absolute;
  margin: 0px;
  left: 10px;
}

.card-content .h-divide {
  width: 100%;
}

.ss-container {
  display: flex;
  width: 100%;
}

.screenshot img {
  object-fit: cover;
  width: 100%;
}

.screenshot-vert {
  display: flex;
}

.screenshot-vert div {
  display: grid;
  align-content: center;
}

.screenshot-vert img, .screenshot-vert video {
  height: 80vh;
  object-fit: contain;
}


.page-listing {
  width: 70%;
}

.page-listing div {
  display: flex;
  justify-content: space-between;
}

.page-listing button {
  width: 15rem;
}

.page-listing button:hover {
  width: 17rem;
  background: linear-gradient(45deg, var(--accent-1) 0%, var(--accent-2) 100%);
  background-size: 300% 300%;
  animation: gradientM 2s ease infinite;
}


